{% extends 'base.html.twig' %}
{% block title %}{{'title.app'|trans({},'messages')}}{% endblock %}
{% block body %}
    {%  if film.getName is defined %}
    <h1>{{'showfilmtitle.app'|trans({},'messages')}}</h1>
    <p>{{'title.film'|trans({},'messages')}}: <b>{{ film.getName }}</b></p>
    <p>{{'description.film'|trans({},'messages')}}: <b>{{ film.getDescription }}</b></p>
    <p>{{'actor.film'|trans({},'messages')}}: <b>{{ film.getActor }}</b></p>
    {% else %}
    <h1>{{'film.nofilm'|trans({},'messages')}}</h1>
    {% endif %}
{% endblock %}
